* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.tree-box {
  min-width: 900px;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .tree-box .rectangle {
    margin: 10px;
    padding: 10px 15px;
    display: inline-block;
    border: 2px solid #000;
    background-color: #fff; }

.handler {
  min-width: 900px;
  display: -webkit-flex;
  display: flex;
  justify-content: center; }
  .handler button {
    margin: 10px;
    padding: 5px 8px;
    font-size: 20px;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #00d5ff;
    cursor: pointer; }
    .handler button:hover {
      background-color: #1aa2e6; }
